/* Overwriting defaul styles */
.top-bar {
    background: #2c3e50 !important;
}
.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
    font-weight: bold !important;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    font-weight: bold !important;
    background: #2c3e50 !important;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.top-bar .name h1 a {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.top-bar-section li:not(.has-form) a:not(.button):hover, .top-bar .name h1 a:hover {
    color: #f39c12 !important;
}
span a {
    color: #2c3e50 !important;
    border-bottom: 1px dotted #2c3e50 !important;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
span a:hover {
    color: #f39c12 !important;
    border-bottom: 1px dotted #f39c12 !important;
}
.sweet-alert button {
    background: #2c3e50 !important;
}
.sweet-alert input:focus {
    box-shadow: 0px 0px 3px #2c3e50;
    border: 1px solid #2c3e50;
}

/* Main styles */
body, p, a, span, li, h1, h2, h3, h4, h5, h6, button, .button {
    font-family: 'Inconsolata', monospace !important;
}
.body-wrap {
    height: 80vh;
}

#users-wrap {
    padding: 30px 0 0 30px;
}

#chat-wrap {
    padding-top: 30px;
    height: inherit;
}

#chat-wrap #chat-notice {
    margin-bottom: 10px;
    border: 1px dotted #2c3e50;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

#chat-wrap .conversationContainer {
    height: inherit;
    overflow: auto;
    border: 1px dotted #2c3e50;
    border-radius: 5px;
    padding: 10px;
}



#message-wrap {
    padding: 30px 30px 0 0;
}

#message-wrap #data {
    box-shadow: none;
    border: 1px dotted #2c3e50;
    border-radius: 5px;
    height: 2.8rem;
}

#message-wrap #data:focus {
    box-shadow: 0px 0px 3px #2c3e50;
    border: 1px solid #2c3e50;
}

#message-wrap .send-msg {
    width: 100%;
    background: #2c3e50 !important;
    font-weight: bold;
    border-radius: 5px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#message-wrap .send-msg:hover {
    color: #f39c12 !important;
}
